<!DOCTYPE html>
<html>
<head>
    <title><%= user %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Hello World</h1>
    <p>Welcome to <%= user %></p>
    <p>你已经登陆</p>
</body>
</html>