<!DOCTYPE html>
<html>
<head>
    <title>新闻分类</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
<h1>HELLO WORLD</h1>
<ul>
    <li><a href="/news/list/1">新闻动态</a></li>
    <li><a href="/news/list/2">政治新闻</a></li>
</ul>
</body>
</html>